{% load static %}
<!-- Top Background Image Wrapper -->
<!--<!DOCTYPE html>-->
<!--<html lang="" xmlns="http://www.w3.org/1999/html">-->
<!--<head>-->
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
<link href="{% static 'hm/layout/styles/layout.css' %}" rel="stylesheet" type="text/css" media="all">
<body id="top">
<div class="abcd" style="background-image:url('{% static 'hm/images/demo/backgrounds/pine.jpg' %}');">
<style>
  .abcd{
    background-position:cover;
    background-repeat:no-repeat;
    background-size:100% 100%;
    }
</style>
</head>
  <div class="wrapper row1">
    <header id="header" class="hoc clear">
      <div id="logo" class="fl_left">
        <h1><a href="/">FOODS AND TASTES</a></h1>
      </div>
      <nav id="mainav" class="fl_right">
        <ul class="clear">
          <li class="active"><a href="/">Home</a></li>
          <li><a class="active" href="{% url 'cartDetails' %}">Cart{{itc}}</a></li>
          {% if user.is_authenticated %}
          <li>Hi {{user.username}}</li>
          <li><a class="active" href="{% url 'logout' %}" style="font-size:14px;">Logout</a></li>
          {% else %}
          <li><a class="active" href="{% url 'login' %}" style="font-size:14px;">Login</a></li>
          <li><a class="active" href="{% url 'register' %}"  style="font-size:14px;">Register</a></li>
          {% endif %}
        </ul>
      </nav>
    </header>
  </div>
<a id="backtotop" href="#top"><i class="fas fa-chevron-up"></i></a>
{% block content %}
{% endblock %}
<script src="{% static 'hm/layout/scripts/jquery.min.js' %}"></script>
<script src="{% static 'hm/layout/scripts/jquery.backtotop.js' %}"></script>
<script src="{% static 'hm/layout/scripts/jquery.mobilemenu.js' %}"></script>
</div>
</body>


