{% extends 'base.html' %}
{% load static %}
{% block content %}
<!DOCTYPE html>
<html>
<head>
</head>

    <!-- main body -->

      <ul class="nospace group btmspace-80">
    {% for i in pr %}
        <li class="one_third">
          <figure><a class="imgover" href="{{i.get_url}}"><img src="{{i.img.url}}" alt="" style="height:300;width:350"></a>
            <figcaption>
              <h6 class="heading">{{i.name}}</h6>
              <p>{{i.desc|truncatechars:17}}</p>
               <p>{{i.price}} Rs</p>
               <p>stock left : {{i.stock}}</p>
            </figcaption>
          </figure>
        </li>
          {% endfor %}
      </ul>
{% endblock %}
    <!--</body>-->
</html>
